venv1/
textclassifier.log*
instance/
# C extensions
*.so
# Packages
*.egg-info/
*.egg
eggs
develop-eggs
dist/
build/
.installed.cfg
lib
lib64
__pycache__/
.pytest_cache/
*.pyc
parts
bin
var
sdist
# Installer logs
pip-log.txt
# Unit test / coverage reports
.coverage
htmlcov/
